.reviews {
  margin: 0 auto;
  margin-top: 119px;
  max-width: 930px;
  position: relative;
  color: black;
  overflow: hidden;

  @include tablet-max {
    padding: 0 10px;
  }

  @include mobile {
    padding: 0 24px;
    box-sizing: border-box;
    min-width: 320px;
    margin-top: 58px;
  }
}

.reviews-wrapper-container {
  padding: 0 10px;
}

.nice-things__catalog {
  background-image: none;
}

.reviews__link {
  color: #ffffff;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 30px;

  &:hover::before {
    opacity: 0.7;
  }

  &:active::before,
  &:active span {
    opacity: 0.3;
  }

  .reviews__link-text {
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    margin-bottom: 3px;
  }
}

.reviews__title {
  width: 100%;
  min-height: 27px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  color: $black;
  margin-bottom: 21px;

  @include mobile {
    margin-bottom: 14px;
  }
}

.reviews-table__row {
  //width: 930px;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  padding: 10px 0 0 0;

  @include mobile {
    flex-wrap: wrap;
    //flex-direction: column;
    border: 1px solid #E8E7E7;
    padding: 6.2% 5.4%;
    //max-width: 273px;
    position: relative;

    .reviews-table__row--extra {
      border: 1px solid #F2F2F2;
    }
  }
}

.reviews__title-content {
  //min-width: 930px;
  position: relative;
  min-width: 100%;
  min-height: 85px;
  margin-bottom: 23px;
  background: $backround;
  box-sizing: border-box;
  padding: 33px 0 0 49px;

  @include mobile {
    padding: 32px 0 28px 54px;
    margin-bottom: 33px;
  }

  & svg {
    margin-right: 7px;
    position: relative;
    top: 1px;

    @include mobile {
      position: absolute;
      top: 36px;
      left: 27px;
    }
  }

  & span {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: $black;
  }
}

.reviews-table__row--header {
  border: 1px solid #F2F2F2;
  padding: 9px 0 8px 0;

  @include mobile {
    display: none;
  }

  .reviews-table__item {
    color: $tableheader;
  }
}

.reviews-table__item--photo {
  width: 6.2%;
  padding-left: 1.7%;

  @include mobile {
    order: 1;
    width: 22.9%;
    padding-left: 0.8%;
    margin-bottom: 24px;

    .reviews-table__img {
      margin: 0;
      margin-top: 7px;
    }
  }
}

.reviews-table__item--name {
  width: 19.2%;

  @include mobile {
    order: 2;
  }
}

.reviews-table__item--reviews {
  width: 42.3%;

  @include mobile {
    order: 3;
  }
}

.reviews-table__item-review_status {
  border-bottom: 1px solid #F2F2F2;
  width: 13.5%;

  @include mobile {
    order: 0;
    padding: 0;
    border: none;
    width: 100%;
  }
}

.reviews-table__item--review_status {
  width: 13.7%;
}

.reviews__status {
  padding: 0;
  margin: 0;
  list-style: none;

  @include mobile {
    display: flex;
  }
}

.reviews__status p {

  @include mobile {
    order: 1;
    width: 40%;
    text-align: center;
  }
}

.reviews__status span {
  width: 100%;
}

.reviews__status-item-data {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #AFAFAF;
  //margin-bottom: 139px;
}

.reviews__status-item {
  margin: 0;
  margin-bottom: 7px;
  box-sizing: border-box;
  padding: 4px 7px;
  width: 93px;
  //min-height: 22px;
  background-color: #50AD01;
  border-radius: 2px;

  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.reviews-table__item-actions {
  width: 16%;
  border-bottom: 1px solid #F2F2F2;

  @include mobile {
    order: 4;
    width: 100%;
  }
}

.reviews-table__item-actions button {
  margin: 0;
  box-sizing: border-box;
  padding: 8px 16.9px 9px;
  background-color: transparent;
  border: 1px solid #979797;
  border-radius: 2px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #979797;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }

  @include tablet-max {
    padding: 6% 2.4%;
  }

  @include mobile {
    padding: 9px 15px 12px;
    font-size: 16px;
    line-height: 22px;
  }
}

.reviews-table__item {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #979797;
}

.reviews-table__item-name {
  width: 16.6%;
  margin-right: 2.5%;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #383838;
  align-self: flex-start;
  box-sizing: border-box;
  padding-top: 3px;

  @include mobile {
    order: 2;
    width: 75.4%;
    font-size: 14px;
    line-height: 20px;
    padding: 0;
    margin: 0;
  }
}

.reviews-table__img {
  width: 41px;
  height: 41px;
  align-self: flex-start;
  margin: 3px 20px 89px -2px;
}

.reviews-table__item-reviews {
  width: 43%;
  color: #332F29;
  letter-spacing: -0.25px;
  padding-right: 3.2%;
  line-height: 19.5px;
  box-sizing: border-box;
  padding-top: 3px;
  padding-left: 4px;
  border-bottom: 1px solid #F2F2F2;

  & p {
    letter-spacing: -0.33px;
    margin: 0 0 10px;
  }

  @include mobile {
    border: none;
    max-width: 100%;
    width: 94%;
    order: 3;
    //padding: 0;
    box-sizing: border-box;
    padding: 0 0.5% 0;

    & svg:nth-last-child(2) {
      margin-right: 6px;
    }

    .reviews-table__rating {
      max-width: 100%;
      margin: 0;
    }

    & p {
      line-height: 20px;
      margin: 0 0 5px;
    }
  }

  & svg:nth-last-child(2) {
    margin-right: 5px;
  }

  & h4 {
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    color: #FF6D00;
  }
}

.reviews-table__rating {
  & span {
    color: #AFAFAF
  }
}

.reviews-table__rating-list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;

  @include mobile {
    display: inline-block;
    padding-bottom: 10px;
  }
}

.reviews-table__rating-list-item {
  margin: 1px 17px 9px 0;
  color: #AFAFAF;

  @include mobile {
    margin: 0;
    margin-right: 14.7px;
    margin-top: 2px;
    display: inline-block;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.25px;
  }
}

.spoiler-wrapper {
  display: flex;
  align-items: center;

  & span {
    font-weight: normal;
    font-size: 11px;
    line-height: 20px;
    color: #FF6D00;
    letter-spacing: 0;
    margin-right: 10.1px;
  }

  & svg {
    width: 10px;
    height: 11px;
  }
}

.reviews-table__details {
  margin-bottom: 15px;
  position: relative;

  @include mobile {
    & span {
      font-size: 14px;
      line-height: 22px;
    }

    & svg {
      top: 2px;
      left: -1px;
      position: relative;
    }
  }
}

.reviews-table__spoiler {
  &::-webkit-details-marker {
    display: none;
  }

  &::-moz-list-bullet {
    list-style-type: none;
  }
}

.pricing__text {
  list-style: none;
}

.reviews-updated {
  margin-bottom: 9px;

  & p {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    color: #FF6D00;
    letter-spacing: 0;
    margin-bottom: 5px;
  }
}

.reviews-slide {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  width: 70px;
}

.reviews-table__row--extra {
  border-bottom: 1px solid #F2F2F2;

  .reviews-table__item-actions {
    display: none;
  }

  & .reviews-updated .reviews-table__rating {
    display: none;
  }

  & .reviews-updated .reviews-table__rating-list {
    display: none;
  }

  & .reviews-table__item-reviews {
    border: none;
    padding-bottom: 38px;
  }

  & .reviews-table__item-review_status {
    border: none;
  }

  .reviews__status-item {
    width: 96px;
  }

  @include mobile {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 4% 5.3%;

    & .reviews-updated .reviews-table__rating-list {
      display: inline-block;
    }

    & .reviews-updated .reviews-table__rating {
      display: inline-block;
    }

    & .reviews-table__item--photo {
      display: none;
    }

    & .reviews-updated {
      display: inline-block;
    }

    & .reviews-table__item-reviews {
      order: 0;
      padding: 0;
    }

    & .reviews-table__item-review_status {
      width: 43%;
      order: 2;
    }

    & .reviews__status span {
      position: absolute;
      left: 17px;
      top: 43px;
    }

    & .reviews__status p {
      position: absolute;
      right: 14px;
      top: 42px;
      width: 36%;
    }

    & .reviews-table__item-reviews .reviews-updated p {
      order: 0;
    }

    & .reviews-updated p {
      font-size: 14px;
      line-height: 22px;
      padding-bottom: 32px;
    }
  }
}


.reviews-table__row--ekran {
  border-bottom: 1px solid #F2F2F2;
  padding: 0;
  position: relative;
  box-sizing: border-box;

  @include mobile {
    padding: 11% 5.3% 6.5%;
    position: relative;
    display: flex;
    flex-wrap: wrap;

    & .reviews-table__img {
      margin: 0;
    }

    & .reviews__status span {
      position: absolute;
      top: 12px;
      left: 15px;
    }

    & .reviews__status p {
      position: absolute;
      top: 16px;
      right: 12px;
    }
  }

  & .reviews-table__img {
    margin-top: 17px;
    margin-bottom: 75px;

    @include mobile {
      margin-bottom: 26px;
      margin-top: 0;
    }
  }

  & .reviews__status-item {
    margin-bottom: 7px;
    width: 107px;
  }

  .reviews__status-item span {
    font-size: 12px;
  }

  & .reviews-table__item-name {
    padding-top: 15px;

    @include mobile {
      padding-top: 0;
    }
  }

  & .reviews-table__item-reviews {
    border: none;
    width: 42.8%;
    padding-top: 15px;

    @include mobile {
      width: 100%;
      padding-top: 0;
    }
  }

  & span {
    color: #979797;
  }

  .reviews-table__item-review_status {
    border: none;
    padding-top: 10px;
    padding-left: 1px;

    li {
      position: relative;
      top: 13px;
      background-color: #A0A0A0;
      min-width: 110px;
    }
  }
}

.reviews-table {
  margin-bottom: 12px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
  border-collapse: collapse;
  width: 100%;
  position: relative;
}

.reviews__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  width: 100%;
  margin-top: auto;
}

.reviews__link-text {
  width: 111px;
  display: block;
}

.nice-things__image {
  margin: 0 auto;
  display: block;
}

.reviews-swiper {
  max-width: 165px;
  margin: 0;

  .reviews-slide {
    width: 70px;
  }
}

.reviews-popup-swiper {
  top: 0;
  position: absolute;
  display: none;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}

.show {
  display: block;
}
