.site {
  margin: 0 auto;
  height: 1045px;
  position: relative;
  color: black;
  overflow: hidden;
  display: flex;

  @include tablet {
    margin-top: 0;
  }

  @include mobile {
    margin-top: 0;
  }
}

.site-sidebar {
  position: relative;

  @include tablet {
    &::before {
      content: " ";
      position: absolute;
      top: 0;
      left: 54px;
      background-image: url("../img/svg/ushko.svg");
      width: 48px;
      height: 106px;
      z-index: -1;
    }
  }
}

.site-logo {
  width: 121px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 60px;

  @include tablet {
    background-image: url("../img/svg/logoTablet.svg");
    background-size: cover;
    width: 25px;
    height: 24px;
    margin-bottom: 68px;
  }
}

.site-sidebar-hamburger {
  @include tablet {
    position: absolute;
    content: " ";
    top: 43px;
    left: 59px;
    z-index: 3;
  }
}

.site-sidebar__list {
  list-style: none;
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  padding-top: 40px;

  @include tablet {
    box-sizing: border-box;
    padding-top: 40px;

    .site-logo {
      margin: 0 auto;
      margin-bottom: 68px;
    }
  }
}

.site-sidebar__list-item {
  min-height: 64px;
  display: flex;
  align-items: center;


  @include tablet {
    min-height: 60px;
    margin: 0 auto;
  }

  & span {
    @include tablet {
      display: none;
    }
  }

  & svg {
    fill: none;
    margin-right: 12px;
  }

  & a {
    text-decoration: none;
    color: #333333;

    @include tablet {
      padding: 0;
    }
  }

  &--active {
    position: relative;
    padding-left: 40px;
    min-height: 64px;
    display: flex;
    align-items: center;
    color: $active;

    @include tablet {
      min-height: 60px;
      margin: 0 auto;
    }

    & span {
      @include tablet {
        display: none;
      }
    }

    & a {
      text-decoration: none;
      color: $active;
      padding: 0;
    }

    & .active-line {
      position: absolute;
      width: 24px;
      height: 0;
      left: -13px;
      top: 29px;
      background-color: #34ABE0;

      border: 3px solid #34ABE0;
      transform: rotate(90deg);

      @include tablet {
        left: -123px;
        top: 26px;
      }
    }

    & svg {
      fill: none;
      margin-right: 15px;
    }

    & .enjoy-icon {
      @include mobile {
        display: none;
      }
    }
  }
}

.site-header {
  position: relative;
  width: 1200px;
  box-sizing: border-box;
  padding: 40px 60px;

  & h1 {
    text-align: left;
    margin: 0;
    margin-bottom: 30px;
  }

  & input {
    position: relative;
    width: 1080px;
    min-height: 52px;
    border: 1px solid rgba(51, 51, 51, 0.2);
    border-radius: 50px;
    box-sizing: border-box;
    padding-left: 44px;
  }


  & svg {
    fill: none;
    position: absolute;
    content: " ";
    top: 107px;
    left: 75px;
    z-index: 1;
  }

  @include tablet {
    margin: 0;
    width: 665px;
    height: 181px;
    padding: 40px 0 0 60px;
  }
}

.site-content {
  background: $content;
  min-width: 1200px;
  //min-height: 844px;
  box-sizing: border-box;
  padding: 40px 40px 100px 40px;
}

.site-content-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
}

.site-content-list__item {
  position: relative;
  width: 347px;
  height: 160px;
  margin-right: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  padding: 16px 0 16px 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: 1px solid #C4C4C4;

  & h2 {
    margin: 0;
    font-size: 16px;
  }

  & p {
    margin: 0;
    margin-bottom: 40px;
  }
}

.item-background {
  position: absolute;
  content: " ";
  top: 0;
  right: 0;
}

.my-header a {
  display: block;
  width: 28px;
  height: 18px;
  padding: 11px;
  margin: 2px;
  position: absolute;
  top: 0;
  left: 0;
}

#my-header {
  display: none;
}

.mm-navbar__title {
  display: none;
}

.mm-navbar_sticky {
  display: none;
}

.mm-listitem__text {
  box-sizing: border-box;
  padding-left: 40px;
}

.mm-listitem:after {
  display: none;
}

.mm-menu {
  --mm-sidebar-expanded-size: 240px;
}

.mm-wrapper {
  --mm-sidebar-expanded-size: 240px;
}
