.button {
  background-color: transparent;
  color: $black;
  font-size: 14px;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  padding: 10px 42px;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid $black;
  min-height: 40px;
  //text-decoration: none;

  &:hover,
  &:focus {
    background-color: $black;
    color: #fafafa;
  }

  &:active {
    //color: rgba(255, 255, 255, 0.3);
  }
}

