$black: #383838;
$accent: #FF6D00;
$backround: #F7F7F7;
$tableheader: #979797;
$mobile: 768px;
$tablet: 1540px;
$desktop: 1525px;
$tablet-max: 991px;
//$desktop-width: 1541px;
//$tablet-width-only: 767px;
//$desktop-width-only: 1540px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
