$black: #383838;
$accent: #FF6D00;
$sidebar: #F3F4F9;
$content: #FAFAFA;
$active: #34ABE0;

$mobile: 320px;
$tablet: 768px;
$desktop: 1440px;
$desktop-full: 1920px;

//$tablet-max: 768px;
//$desktop-width: 1541px;
//$tablet-width-only: 767px;
//$desktop-width-only: 1540px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
